/* Color Codes: Blue: #1b1f3b, Yellow: #ECD444, White: #EFF7FF, Green: #004F2D, Accent Blue: #1D7874, Black #000500 */

:root {
    --Black: #000500;
    --Blue: #1b1f3b;
    --Yellow: #ECD444;
    --White: #EFF7FF;
    --Green: #004F2D;
    --AccentBlue: #1D7874;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply fade-in to the body */
body {
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s ease-in forwards; /* Fade in over 1.5 seconds */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Switzer', sans-serif;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: radial-gradient(at top left, #000501, transparent 100%), 
    radial-gradient(at bottom right, #000501, transparent 90%), 
    radial-gradient(at bottom left, #000501, transparent 100%), 
    linear-gradient(to bottom, #000501, #EFEFF0), 
    url(https://grainy-gradients.vercel.app/noise.svg);
}

body > .trail {
    position: absolute;
    width: 80px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    pointer-events: none; /* Makes the images non-clickable */
    opacity: 1; /* Optional: adjust opacity */
    transition: transform 0.1s ease; /* Smooth transition for each image */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    z-index: 2;
}

body > #nav-container {
    width: 100%;
    height: 10vh;
    position: inherit;
    z-index: 2;
}

body > #nav-container > #navBar {
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    /* background-color: green; */
}

body > #nav-container > #navBar > h4 {
    font-family: 'Melodrama', serif;
    cursor: pointer;
    width: 50%;
    color: var(--White);
    font-size: 20px;
}

body > #nav-container > #navBar > ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body > #nav-container > #navBar > ul > li {
    cursor: pointer;
    list-style: none;
    color: var(--White);
    opacity: 60%;
    font-size: 17px;
}

body > #nav-container > #navBar > ul > li:hover {
    opacity: 100%;
}

body > #nav-container > #navBar > ul > .nav-item {
    margin-right: 8vw;
}

body > #main-container {
    width: 100%;
    height: max-content;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

body > #main-container > #left {
    width: 46%;
    /* background-color: red; */
}

body > #main-container > #left > p {
    color: var(--White);
    text-align: justify;
    font-size: 20px;
}

body > #main-container > #left > button {
    cursor: pointer;
    margin-top: 5vh;
    padding: 15px 20px;
    background-color: var(--White);
    color: var(--Black);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body > #main-container > #left > button:hover {
    background-color: var(--Green);
    color: var(--White);
}

body > #main-container > #right {
    width: 46%;
    height: 65vh;
    background: 100% 100% no-repeat url('/images/about.png');
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}

body > #footer-container {
    width: 100%;
    height: 20vh;
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 100px;
    z-index: 2;
}

body > #footer-container > #left {
    margin-left: 2%;
}

body > #footer-container > #right {
    margin-right: 2%;
}

/*Responsive design for mobile devices*/
@media (max-width: 800px) {
    
}

@media (max-width: 1000px) {
    body > #nav-container > #navBar > h4 {
        font-size: 16px;
    }

    body > #nav-container > #navBar > ul > li {
        font-size: 14px;
    }

    body > #main-container {
        height: max-content;
        flex-direction: column-reverse;
        margin-bottom: 5vh;
    }

    body > #main-container > #left {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }

    body > #main-container > #left > p {
        font-size: 14px;
        text-align: center;
    }
    
    body > #main-container > #left > button:hover {
        background-color: var(--White);
        color: var(--Black);
    }

    body > #main-container > #right {
        width: 80%;
        height: 30vh;
        margin-bottom: 4vh;
        /* background-color: red; */
    }

    body > #footer-container {
        margin-top: 0px;
    }

    body > #footer-container > #left {
        font-size: 12px;
        width: 40%;
        text-align: left;
        margin-left: 4%;
    }

    body > #footer-container > #right {
        font-size: 12px;
        width: 40%;
        text-align: right;
        margin-right: 4%;
    } 
}

@media (max-width: 400px) {
    
}