/* Color Codes: Blue: #1b1f3b, Yellow: #ECD444, White: #EFF7FF, Green: #004F2D, Accent Blue: #1D7874, Black #000500 */

:root {
    --Black: #000500;
    --Blue: #1b1f3b;
    --Yellow: #ECD444;
    --White: #EFF7FF;
    --Green: #004F2D;
    --AccentBlue: #1D7874;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply fade-in to the body */
body {
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s ease-in forwards; /* Fade in over 1.5 seconds */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Switzer', sans-serif;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

hr {
    width: 90%;
    margin: 2vh 0;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: radial-gradient(at top left, #000501, transparent 100%), 
    radial-gradient(at bottom right, #000501, transparent 90%), 
    radial-gradient(at bottom left, #000501, transparent 100%), 
    linear-gradient(to bottom, #000501, #EFEFF0), 
    url(https://grainy-gradients.vercel.app/noise.svg);
}

body > .trail {
    position: absolute;
    width: 80px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    pointer-events: none; /* Makes the images non-clickable */
    opacity: 1; /* Optional: adjust opacity */
    transition: transform 0.1s ease; /* Smooth transition for each image */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    z-index: 2;
}

body > #nav-container {
    width: 100%;
    height: 10vh;
    position: inherit;
    z-index: 2;
}

body > #nav-container > #navBar {
    width: 92%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    /* background-color: green; */
}

body > #nav-container > #navBar > h4 {
    font-family: 'Melodrama', serif;
    cursor: pointer;
    width: 50%;
    color: var(--White);
    font-size: 20px;
}

body > #nav-container > #navBar > ul {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body > #nav-container > #navBar > ul > li {
    cursor: pointer;
    list-style: none;
    color: var(--White);
    opacity: 60%;
    font-size: 17px;
}

body > #nav-container > #navBar > ul > li:hover {
    opacity: 100%;
}

body > #nav-container > #navBar > ul > .nav-item {
    margin-right: 8vw;
}

body > #main-container {
    overflow: hidden; /* Hide the part of the circle that goes outside the main-container-1 */
    width: 96%;
    height: 65vh;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 35px;
    /* background-color: red; */
}

body > #main-container > #card-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

body > #main-container > #card-container > .card {
    cursor: pointer;
    width: 22%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Required for positioning the pseudo-element */
    overflow: hidden; /* Ensures text stays within the grid item */
    transition: border-radius 0.5s ease, transform 0.5s ease; /* Add transition for smooth effect */
    /* background-color: red; */
}

body > #main-container > #card-container > .card:hover {
    border-radius: 10px;
}

body > #main-container > #card-container > .card::after {
    content: ""; /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease; /* Transition for fade effect */
    z-index: 0; /* Ensure it's below the text */
}

body > #main-container > #card-container > .card:hover::after {
    opacity: 1; /* Fade in the overlay on hover */
}

body > #main-container > #card-container > .card > .name {
    position: absolute; /* Position it absolutely within the grid item */
    top: 0%;
    left: 0%;
    padding: 5px 7px;
    margin: 15px 0 0 15px;
    color: var(--White);
    font-size: 15px;
    font-weight: bold;
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease; /* Transition for fade effect */
    z-index: 1; /* Ensure it appears above the image */
}

body > #main-container > #card-container > .card:hover .name {
    display: flex;
    width: 40%;
    justify-content: space-between;
    opacity: 1; /* Fade in on hover */
}

body > #main-container > #card-container > .card > .overlay-text {
    position: absolute; /* Position it absolutely within the grid item */
    bottom: 0%;
    right: 0%;
    padding: 5px 7px;
    margin: 0 15px 15px 0;
    color: var(--White);
    font-size: 12px; /* Adjust font size as needed */
    background-color: rgba(79, 78, 78, 0.7);
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease; /* Transition for fade effect */
    z-index: 1; /* Ensure it appears above the image */
    border-radius: 5px;
}

body > #main-container > #card-container > .card:hover .overlay-text {
    opacity: 1; /* Fade in on hover */
}

body > #main-container > #card-container > .card > .overlay-text > img {
    width: 20px;
    margin: 0 2px;
}

body > #main-container > #card-container > .card > .overlay-text > .twitter, .link {
    background-color: var(--Black);
}

body > #main-container > #card-container > #pawan {
    background: 100% 100% no-repeat url('/images/pawan.jpg');
    background-size: cover;
    background-position: center;
}

body > #main-container > #card-container > #pawan:hover::after {
    opacity: 1;
    visibility: visible;
}

body > #main-container > #card-container > #aahana {
    background: 100% 100% no-repeat url('/images/aahana.jpg');
    background-size: cover;
    background-position: center;
}

body > #main-container > #card-container > #aahana:hover::after {
    opacity: 1;
    visibility: visible;
}

body > #main-container > #card-container > #shridhar {
    background: 100% 100% no-repeat url('/images/shree.jpg');
    background-size: cover;
    background-position: center;
}

body > #main-container > #card-container > #shridhar:hover::after {
    opacity: 1;
    visibility: visible;
}

body > #main-container > #card-container > #alisha {
    background: 100% 100% no-repeat url('/images/alisha.jpg');
    background-size: cover;
    background-position: center;
}

body > #main-container > #card-container > #alisha:hover::after {
    opacity: 1;
    visibility: visible;
}

body > #footer-container {
    width: 100%;
    height: 20vh;
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    z-index: 2;
}

body > #footer-container > #left {
    margin-left: 2%;
}

body > #footer-container > #right {
    margin-right: 2%;
}